body {
    background-color: #f0ffc2;
    color: #1c3eea;
    
}
.text {
    background-color:#fa0303 ; 
    color: #09e5f1;
}
#text {
    background-color: #ffffff;
    color: #ff0000;
}
.site {
    background-color: #0fbccc;
    color: #4a2e2e;
}