body {
    background-color: #f0ffc2;
    color: #173aee;
    
}
.text {
    background-color:#fa0303 ; 
    color: #09e5f1;
}
#text {
    background-color: #6e333300;
    color: #018ad9;
}
.site {
    background-color: #0fbccc;
    color: #4a2e2e;
}