body {
   
    background: linear-gradient(-4500000deg, #eeff00, #000000, #fff700, #76edff5f);
    background-size: 700% 400%;
    animation: gradientAnimation 15s ease infinite;
    min-height: 100vh;
    padding: 0px;
    margin: 0;
    cursor: url('/img/cursor.png') 0 0, pointer;
}
a, button, .clickable,  img, .fireflies-containerr, td {
    cursor: url('/img/cursor-perchatka.png') 0 0, pointer !important;
}
.text {
    background-color:#fa0303 ; 
    color: #09e5f1;

}
.new-year {
  position: fixed;
  display: flex;
  padding: 80px 0px 0px 0px;
}
.light-bulbs {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 90%; /* Задайте нужную ширину */
  margin: 0 auto;
  flex-wrap: wrap; /* Чтобы лампочки переносились на новую строку, если не помещаются */
  padding: 0px 0px 0px ;
  z-index: 1;
}

.light-bulb {
   position: relative;
  border-radius: 50%; /* Делает элемент круглым */
  height: 17px;
  width: 17px;
  margin: 5px;
  opacity: 0.8;
  animation-name: flicker;
  animation-duration: 1000s; /* Скорость мерцания */
  animation-iteration-count: infinite;
   /* Анимация проигрывается вперед и назад */
   z-index: 2;
}

/* Определяем цвета и тени для свечения */
.c1 { background: #ff4136; box-shadow: 0 0 10px #ff4136; }
.c2 { background: #2ecc40; box-shadow: 0 0 10px #2ecc40; }
.c3 { background: #ffdc00; box-shadow: 0 0 10px #ffdc00; }
.c4 { background: #0074d9; box-shadow: 0 0 10px #0074d9; }

/* Определяем анимацию мерцания (изменение прозрачности) */
@keyframes flicker {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

.fireflies-container {
  position: fixed; /* или absolute, если нужен внутри определёногоо блока */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* чтобы клики проходили сквозь огоньки */
  z-index: 9999; /* выше чем у остального контента */
  margin: 20;
  text-align: right;
}
.fireflies-containerr {
  position: fixed; /* или absolute, если нужен внутри определёного блка */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* чтобы клики проходили сквозь огоньки */
  z-index: 9999; /* выше, чем у остального контента */
  margin: 20;
  bottom: 0 ;             /* внизу */
  left: 0;   
  text-align: center;
}
  .fireflies-containerr img {
  position: fixed;
  bottom: 0;
  left: 0; /* измените п желанию */
  z-index: 9999;
}
.header-content {
               position: fixed;
            display: flex;
              align-items: center; /* Выравнивает элементы по вертикали по центру */
             gap: 15px;/* Добавляет немного пространства между картинкой и текстом */
            background-color: #fcfbbde1;
            box-shadow: #000;
            z-index: 20000000000;
              
              
          }   #ffffffdb
           
        
        
.header-content h1, .header-content p {
           margin: 0px;
        }
#text {
    font-family: Verdana, Geneva, Tahoma, Times, serif, Arial, sans-serif;
    font-family: "Rubik Gemstones", system-ui;
    background-color: #ff020200;
    color: #018ad9;
    margin: 0;
}
#site {
    background-color: #b254e400;
    color: #00a6ff;
}
.video {
  text-align: right !important;
  margin: 200;
}
.logo {
  transition: transform 0.9s ease;
    position: relative;          /* Нужно для позиционирования подсказки */
    display: inline-block;
    background-color: #ffffff00;
  margin: 0px;
  padding: 0;
    
}

.logo:hover {
  background-color: #00e5ff70 !important;
  transition: transform 0.3s ease;
  transform: scale(1.05);
  transition: transform 0.5s ease;
  padding: 0px;
  margin: 0px;
}




.dropdown-menu ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0px;
    background-color: #ffffff00;
    overflow: hidden;
    font-family: "Rubik Gemstones", system-ui;
    padding: 0px 0px 0px 0px;
    box-shadow: #0400ff;
   
}

.dropdown-menu li {
    float: left; /* Размещаем пункты меню горизонтально */
    background-color: #f45c5c00;
    color: #000;
    font-family: "Rubik Gemstones", system-ui;
    transition: transform 0.3s ease;
   
}



.dropdown-menu li a {
    display: flex;
    align-items: center; 
    color: rgb(0, 200, 255);
    text-align: center;
    padding: 24px 16px;
    margin: 0px 0px 0px 0px;
    text-decoration: none; /* Убираем подчеркивание сылок */
    font-family: "Rubik Gemstones", system-ui;
     transition: transform 0.3s ease;
}

.dropdown-menu li a:hover:not(.active) {
    background-color: #fcfa86;
    

}

/* Стили для выпадающего меню */
.dropdown-content {
    display: none; /* Скрываем выпадающий список по умолчанию */
    position: absolute;
    background-color: #7be9ff !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 234, 255);
    z-index: 1;
    color: #000;
    border-color:#000;
    
}

.dropdown-content li {
    float: none; /* Размещаем элементы выпадающего списка вертикально */
    color: rgb(177, 9, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   
    
}

.dropdown-content li a {
    color: rgb(0, 38, 255);
    padding: 0;
    text-align: left;
    min-width: 100px;
   
}

.dropdown-content li a:hover {
    background-color: #22ff0000 !important;
}

/* Показываем выпадающее содержимое при наведении курсора на родительски элемент */
.dropdown:hover .dropdown-content {
    display: block;
}


.container-glavnaya {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    /* Пример "свежего" градиента 2026 */

    
}
.content-glavnaya {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#121415
    }

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* две равные колонки */
  gap: 1px; /* пространство между карточками */
  max-width: 1000px; /* или по вашему */
  margin: 0 auto; /* центрирование */
  box-shadow: 0 4px 8px rgb(1, 242, 255);
  background-color: #ffffff00;
  
 
}
.card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #fff;
}    

.fancy-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  
}

.fancy-table th, .fancy-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
  transition: all 0.3s ease;
}

.fancy-table th {
  background-color: #00fff2;
  color: white;
}

.fancy-table tbody tr:hover {
  background-color: #3da8a325;
  transform: translateX(3px);
}    
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* чтобы снег не мешал взаимодействию с сайтом */
  overflow: hidden;
  z-index: 9999;
}

.snowflake {
  position: absolute;
  top: -10px;
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  width: 1000px;
  height: 1000px;
  box-shadow: 0 0 6px rgb(255, 255, 255);
  animation: fall linear forwards;
}

@keyframes fall {
  from { transform: translateY(-10px); opacity: 1; }
  to { transform: translateY(100vh); opacity: 0; }
}


.container-one {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color: #00a9f2 
}  
.content-one {
    font-size: 23px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, sans-serif;
    text-align: left;
    margin-bottom: 20px; /* отступ снизу между абзацами */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#7c7c7c;
}
.content-one-novosty {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, sans-serif;
    font-size: 160px !important;
    text-align: left;
    text-indent: 20px;
    margin-bottom: 20px; /* отступ снизу между абзацами */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;         /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#666666  ; 
    line-height: 9; 
} 
.card-grid-one {
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-template-columns: repeat(2, 1fr); /* две равные колонки */
  gap: 1px; /* пространство между карточками */
  max-width: 1000px; /* или по вашему */
  margin: 0 auto; /* центрирование */
  box-shadow: 0 4px 8px rgba(1, 242, 255, 0);
  background-color: #ff000000;
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 0, 0, 0);
  transition: transform 0.3s ease; /* плавный переход для transform */

}
.card-grid-one:hover {
  transform: scale(1.1);
  transition: transform 0.9s ease;
  transform: scale(1.1);
}

 

    

.container-fact {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 20px 20px 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#fa0303
}
.container-second {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#00a9f2
    
    
}
.content-second {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#7f8182
    
}
.container-why {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#00a9f2
}
.content-why {
  font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #5b5b5b00;
    color:#373737
}
.content-why2 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #03c0ff84;
     background: linear-gradient(-550deg, #fffb00, #ff0000, #ff0000, #8d76ffab);
    background-size: 700% 400%;
    color:#373737
}
.content-why2 a {
  text-decoration: none;
  background-color: #cae5f400;
  color: #2600ff;
  box-shadow: #00fff2;

}
.content-why2 img {
  width: 100%;
}
.content-why a:hover {
  color: #ff0000;
}
.school {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 90%;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  text-align: center;
  color: #4f4f4f;
  max-width: 950px;
  background-color: #ffffffdb;
  text-align: left; 
}
.container h3 {
  margin-bottom: 20px;     /* Отступ снизу, чтобы отделить текст от изображения */
}
.container-holiday {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#00a9f2
}
.content-holiday {
    font-family: "Marck Script", cursive;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#7f8182;
    text-align: left;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирует содержимое внутри flex-контейнера */
    gap: 80px;
    
    /* Исправление прокрутки: */
    width: 100%;
    box-sizing: border-box;  /* Включает границы (border) в общую ширину 100% */
    
    background-color: #ffffffae;
    color: #0400ff;
    border: 1px solid #ccc;
    margin: 0;
    padding: 10px;  
    }
.footer a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px !important;
    text-decoration: none;
    color: #ff0000;
    background-color: #018ad900;
   
    
}
.footer a:hover {
  background-color: #fefefe2d;
}
img {
  max-width: 100%;
}    
@media (max-width: 800px) {
  .container-glavnaya {
    max-width: 400px;
    overflow-x: hidden;
    padding: 0;
  }
  img {
  max-width: 100%; /* изображение не будет шире контейнера */
  height: auto; /* сохранение пропорций изображения */
 
  }
  .card-grid-one {
    max-width: 20px;
    max-width: 100%;
    flex: 1 1 100%; grid-template-columns: 1fr;

  
  }
  .cards-grid {
    max-width: 20px;
    max-width: 100%;
    flex: 1 1 100%;
    grid-template-columns: 1fr;
  }
  .school {
    overflow-x: hidden;
    max-width: 100%;
    width: 200%;
    box-sizing: border-box;
    max-width: 100% !important;      /* не превышает ширину контейнера */
    table-layout: auto !important;   /* колонкам присваиваются ширины по содержимому */
    box-sizing: border-box !important;
    display: block;
    font-size: 10px;

  }
  
  .school td, .school th {
  word-break: break-word; /* перенос длинных слов */
  word-wrap: break-word;      /* перенос длинных слов */
  overflow-wrap: break-word;  /* современный аналог */
  word-break: break-word;     /* также помогает переносить длинные слова */
  white-space: normal;        
  padding: 3px; /* уменьшенные отст */
  }
.logo {
  display: none;
}
.container-glavnaya {
  padding: 250px 0px 0px 0px;
}
.container {
  padding: 300px 0px 0px 0px;
}
.container-fact {
  padding: 250px 0px 0px 0px;
}
.container-one {
  padding: 250px 0px 0px 0px;
}
.container-second {
  padding: 250px 0px 0px 0px;
}
.school {
  padding: 250px 0px 0px 0px;
}
.container-holiday {
  padding: 250px 0px 0px 0px;
}
.container-why {
  padding: 250px 0px 0px 0px;
}
.light-bulbs {
   padding: 73px 0px 0px 0px;
}
.new-year {
  padding: 250px 0px 0px 0px;
  
}
.new-year img {
    width: 300;
    padding: 20px 0px 0px 0px;
}
}