body {
    background-color: #f0ffc2;
    background-image: url('/img/Без\ названия\ \(4\)норм.jpg');
    color: #173aee;
    cursor: url('/img/cursor.png') 0 0, auto !important;
    font-family: "Rubik Gemstones", system-ui;
    margin: 0;
   
}
a, button, .clickable,  img, .fireflies-containerr, td {
    cursor: url('/img/cursor-perchatka.png') 0 0, pointer !important;
}
.text {
    background-color:#fa0303 ; 
    color: #09e5f1;

}
.fireflies-container {
  position: fixed; /* или absolute, если нужен внутри определёногоо блока */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* чтобы клики проходили сквозь огоньки */
  z-index: 9999; /* выше чем у остального контента */
  margin: 20;
  text-align: right;
}
.fireflies-containerr {
  position: fixed; /* или absolute, если нужен внутри определёного блка */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* чтобы клики проходили сквозь огоньки */
  z-index: 9999; /* выше, чем у остального контента */
  margin: 20;
  bottom:0 ;             /* внизу */
  left: 0;   
  text-align: center;
}
  .fireflies-containerr img {
  position: fixed;
  bottom: 0;
  left: 0; /* измените п желанию */
  z-index: 9999;
}
.header-content {
            display: flex;
            align-items: center; /* Выравнивает элементы по вертикали по центру */
            gap: 15px; /* Добавляет немного пространства между картинкой и текстом */
             
        }
        
.header-content h1, .header-content p {
            margin: 1;
        }
#text {
    font-family: Verdana, Geneva, Tahoma, Times, serif, Arial, sans-serif;
    font-family: "Rubik Gemstones", system-ui;
    background-color: #ff020200;
    color: #018ad9;
    margin: 80;
}
#site {
    background-color: #b254e400;
    color: #00a6ff;
}
.video {
  text-align: right !important;
  margin: 200;
}




.dropdown-menu ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
    background-color: #ffffffc8;
    overflow: hidden;
    font-family: "Rubik Gemstones", system-ui;
}

.dropdown-menu li {
    float: left; /* Размещаем пункты меню горизонтально */
    background-color: #e0f45c00;
    color: #000;
    font-family: "Rubik Gemstones", system-ui;
    transition: transform 0.3s ease;
    
}



.dropdown-menu li a {
    display: block;
    color: rgb(0, 200, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Убираем подчеркивание сылок */
    font-family: "Rubik Gemstones", system-ui;
     transition: transform 0.3s ease;
}

.dropdown-menu li a:hover:not(.active) {
    background-color: #fcfa86;
     transform: scale(1.1);
    transition: transform 0.2s ease;
    transform: scale(1.1);
}

/* Стили для выпадающего меню */
.dropdown-content {
    display: none; /* Скрываем выпадающий список по умолчанию */
    position: absolute;
    background-color: #7be9ff !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 234, 255);
    z-index: 1;
    color: #000;
    border-color:#000;
}

.dropdown-content li {
    float: none; /* Размещаем элементы выпадающего списка вертикально */
    color: rgb(177, 9, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    position: relative;
}

.dropdown-content li a {
    color: rgb(0, 38, 255);
    padding: 0;
    text-align: left;
    min-width: 100px;
}

.dropdown-content li a:hover {
    background-color: #22ff0000 !important;
}

/* Показываем выпадающее содержимое при наведении курсора на родительски элемент */
.dropdown:hover .dropdown-content {
    display: block;
}


.container-glavnaya {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color: #0073ff;
    
}
.content-glavnaya {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#121415
    }

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* две равные колонки */
  gap: 1px; /* пространство между карточками */
  max-width: 1000px; /* или по вашему */
  margin: 0 auto; /* центрирование */
  box-shadow: 0 4px 8px rgb(1, 242, 255);
  background-color: #ffffff00;
 
}
.card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #fff;
}    

.fancy-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.fancy-table th, .fancy-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
  transition: all 0.3s ease;
}

.fancy-table th {
  background-color: #00fff2;
  color: white;
}

.fancy-table tbody tr:hover {
  background-color: #3da8a325;
  transform: translateX(3px);
}    
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* чтобы снег не мешал взаимодействию с сайтом */
  overflow: hidden;
  z-index: 9999;
}

.snowflake {
  position: absolute;
  top: -10px;
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  width: 1000px;
  height: 1000px;
  box-shadow: 0 0 6px rgb(255, 255, 255);
  animation: fall linear forwards;
}

@keyframes fall {
  from { transform: translateY(-10px); opacity: 1; }
  to { transform: translateY(100vh); opacity: 0; }
}


.container-one {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color: #00a9f2 
}  
.content-one {
    font-size: 23px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, sans-serif;
    text-align: left;
    margin-bottom: 20px; /* отступ снизу между абзацами */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#7c7c7c;
}
.content-one-novosty {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, sans-serif;
    font-size: 160px !important;
    text-align: left;
    text-indent: 20px;
    margin-bottom: 20px; /* отступ снизу между абзацами */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;         /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#666666  ; 
    line-height: 9; 
} 
.card-grid-one {
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-template-columns: repeat(2, 1fr); /* две равные колонки */
  gap: 1px; /* пространство между карточками */
  max-width: 1000px; /* или по вашему */
  margin: 0 auto; /* центрирование */
  box-shadow: 0 4px 8px rgba(1, 242, 255, 0);
  background-color: #ff000000;
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 0, 0, 0);
  transition: transform 0.3s ease; /* плавный переход для transform */

}
.card-grid-one:hover {
  transform: scale(1.1);
  transition: transform 0.9s ease;
  transform: scale(1.1);
}

 

    

.container-fact {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#fa0303
}
.container-second {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#00a9f2
    
    
}
.content-second {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#7f8182
    
}
.container {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#7f8182
    
}
.school {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #4f4f4f;
  max-width: 950px;
  background-color: #ffffffdb;
   
  
}
.container h3 {
  margin-bottom: 20px;     /* Отступ снизу, чтобы отделить текст от изображения */
}

.footer {
    background-color: #ffffffae;
    color: #0400ff;
    padding: 20px;
    text-align: center;
    }
img {
  max-width: 100%;
}    
@media (max-width: 600px) {
  .container-glavnaya {
    max-width: 400px;
    overflow-x: hidden;
    padding: 0;
  }
  img {
  max-width: 100%; /* изображение не будет шире контейнера */
  height: auto; /* сохранение пропорций изображения */
  border-radius: 80%;
  }
  .card-grid-one {
    max-width: 20px;
    max-width: 100%;
    flex: 1 1 100%; grid-template-columns: 1fr;

  
  }
  .cards-grid {
    max-width: 20px;
    max-width: 100%;
    flex: 1 1 100%;
    grid-template-columns: 1fr;
  }
  .school {
    overflow-x: hidden;
    max-width: 100%;
    width: 200%;
    box-sizing: border-box;
    max-width: 100% !important;      /* не превышает ширину контейнера */
    table-layout: auto !important;   /* колонкам присваиваются ширины по содержимому */
    box-sizing: border-box !important;
    display: block;
    font-size: 10px;

  }
  
  .school td, .school th {
  word-break: break-word; /* перенос длинных слов */
  word-wrap: break-word;      /* перенос длинных слов */
  overflow-wrap: break-word;  /* современный аналог */
  word-break: break-word;     /* также помогает переносить длинные слова */
  white-space: normal;        
  padding: 3px; /* уменьшенные отступы */
  }




}
